.container {
    height: calc(100vh - 100px);
    background-color: #d1411d;
    overflow: hidden;
}

.arrowContainer {
    position: absolute;
    width: 10%;
    height: 20%;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 2;
}

.wrapper {
    width: 300vw;
    height: 100%;
    display: flex;
    transition: all 1s ease-in-out;
}
.imgContainer {
    position: relative;
    width: 100vw;
    height: 100%;
}