.container {
    width: 22%;
    padding: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
    cursor: pointer;
}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #d1d1d1;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #666;
}

.desc {
    text-align: center;
    color: #777;
}