.container {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.desc {
    font-size: 24px;
    color: #444;
    width: 70%;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}